.movies {
  padding: 0px 36px;
  gap: 36px;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 420px) {
  .movies {
    padding: 0px 16px;
    gap: 20px;
  }
}
